.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20vh;
}
.checkDiv {
  display: flex;
  flex-direction: column;
}
/* .box {
  align-self: flex-start;\
} */
.box2 {
  /* align-self: flex-end; */
  margin-left: 1rem;
}
/* .checkmark {

  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #666;
  background-color: white;
}

.hiddenInput {
  position: absolute;
  transform: translate(-1000vw);
}
.checkBoxNameLabel {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.checkBoxNameLabel input:checked ~ .checkmark:after {
  display: block;
}


.checkBoxNameLabel .checkmark:after {
  left: 9px;
  top:-2px;
  width: 5px;
  height: 20px;
  border: solid green;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */
/* .hiddenInputLabel {
  display: inline-block;
  text-align: center;
  position: relative;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.checkBoxNameLabel:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkBoxNameLabel input:checked ~ .checkmark {
  background-color: #2196F3;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.checkBoxNameLabel input:checked ~ .checkmark:after {
  display: block;
}


.checkBoxNameLabel .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */