.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 35px;
  margin-bottom: 12px;
}
.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #666;
  background-color: #e2e2e2;
}
.checkbox:hover ~ .checkmark {
  background-color: #eee;
}
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox:checked ~ .checkmark::after {
  display: block;
}
.checkbox:checked ~ .checkmark{
  background-color: white;
}
.container .checkmark::after {
  left: 9px;
  top:-2px;
  width: 5px;
  height: 20px;
  border: solid rgb(4, 224, 4);
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}